<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- static opengraph -->
    <meta property="og:url"                content="https://covidmemory.lu" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="COVID-19 memories" />
    <meta property="og:description"        content="A platform to collect COVID19 related photos, videos, stories and interviews
    from/with ordinary people living or working in Luxembourg" />
    <meta property="og:image"              content="https://covidmemory.lu/img/memories.jpg" />
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
