<template>
  <div class="map" :style="wrapperStyle">
    <MglMap
      :accessToken="accessToken"
      :mapStyle="mapStyle"
      @load="onMapLoaded"
      :center="center"
      :zoom="zoom"
      :pitch="pitch">
      <MglMarker v-for="(point, i) in points" :key="i"
        :coordinates="point.getCoordinates({ flatten: true })">
        <div slot="marker">
          <transition name="dropin" >
            <div class="memory-marker"
              v-show="point.date.getTime() <= days[day].getTime()"
              :style="`background:url(${point.thumbnail})`">
            </div>
          </transition>
          </div>
        <MglPopup class="p-0">
          <div class="text-center">
            <div class="popup-thumbnail p-0" v-if="point.thumbnail && point.thumbnail !== ''">
              <img :src="point.thumbnail" style="max-width:100%">
            </div>
            <div class="popup-text p-2">
              <b class="mt-3 mb-2">
                <a href="#" @click="openMemory(point)"><span v-html="point.title"/></a>
              </b>
              {{ point.getFormattedDate() }}
            </div>
          </div>
        </MglPopup>
      </MglMarker>
    </MglMap>
    <div class="time-controls">
      <b-form-input
        id="daterange"
        type="range"
        v-model="day"
        @keydown="keyhandler"
        @keyup="keyhandler"
        min="0" :max="days.length - 1" />
      <b-input-group>
        <b-input-group-prepend>
          <b-button @click="prevDay()" :disabled="day < 1">
            <b-icon-arrow-left />
          </b-button>
          <b-button @click="togglePlay()" :variant="playing ? 'danger' : 'success'">
            <div v-if="playing">
              <b-icon-pause />
            </div>
            <div v-else>
              <b-icon-play />
            </div>
          </b-button>
        </b-input-group-prepend>
        <b-form-input disabled :value="$d(days[day], 'short')"></b-form-input>
        <b-input-group-append>
          <b-button @click="nextDay()" :disabled="day >= (days.length - 1)">
            <b-icon-arrow-right />
          </b-button>
        </b-input-group-append>
      </b-input-group>
    </div>
  </div>
</template>

<script>
import Mapbox from 'mapbox-gl';
import { MglMap, MglMarker, MglPopup } from 'vue-mapbox';
import MemoryPoint from '@/models/MemoryPoint';
import { items } from '@/services';
import 'mapbox-gl/dist/mapbox-gl.css';

const ACCESS_TOKEN = process.env.VUE_APP_MAPBOX_ACCESS_TOKEN;
const MAP_STYLE = process.env.VUE_APP_MAPBOX_MAP_STYLE;

export default {
  components: {
    MglMap,
    MglMarker,
    MglPopup,
  },
  data: () => ({
    days: [],
    day: 0,
    playing: false,
    playInt: null,
    playingSpeed: 100,
    accessToken: ACCESS_TOKEN,
    mapStyle: MAP_STYLE,
    center: [6.1326, 49.8167],
    zoom: 9,
    pitch: 0,
    height: 400,
    points: [],
  }),
  computed: {
    wrapperStyle() {
      return {
        height: `${this.height}px`,
      };
    },
  },
  mounted() {
    this.height = window.innerHeight;
    items.find({}).then(({ data }) => {
      this.points = data
        .filter((d) => typeof d['foaf:based_near'] !== 'undefined')
        .map((d) => MemoryPoint.create(d));
      // console.info(this.points);
      this.days = this.points
        .map((d) => d.getDate())
        // .filter((d) => d.getTime() > 0)
        .sort((a, b) => a.getTime() - b.getTime());
      // this.days = this.points.map((d) => d.date);
      // this.days.sort((a, b) => b - a);
      // console.log('sorted', this.days);
    });
  },
  created() {
    // We need to set mapbox-gl library here in order to use it in template
    this.mapbox = Mapbox;
    console.info('Map view created,\n  ACCESS_TOKEN:', ACCESS_TOKEN, '\n  MAP_STYLE:', MAP_STYLE);
  },
  methods: {
    onMapLoaded(event) {
      // in component
      console.info('@loaded', event);
    },
    // pointAdded(point) {
    //   console.log('@added', point.date);
    // },
    togglePopup() {
      this.mapbox.togglePopup();
    },
    openMemory(memory) {
      console.info('placeholder for openMemory() memory:', memory);
      this.$router.push({
        name: 'Memory',
        params: {
          id: memory.id,
        },
      });
    },
    keyhandler() {
      window.addEventListener('keyup', (e) => {
        // hit space to play !!!
        if (e.keyCode === 32) {
          this.togglePlay();
        } else if (e.keyCode === 37) {
          this.prevDay();
        } else if (e.keyCode === 39) {
          this.nextDay();
        }
        // console.log(e.keyCode);
      });
    },
    nextDay() {
      if (this.day < (this.days.length - 1)) {
        this.day += 1;
        // this.updateMap();
      }
    },
    prevDay() {
      if (this.day > 0) {
        this.day -= 1;
        // this.updateMap();
      }
    },
    deSelect() {
      this.selected = {};
    },
    pause() {
      clearInterval(this.playInt);
      this.playing = false;
    },
    togglePlay() {
      if (this.playing) {
        this.pause();
      } else {
        if (this.day >= (this.days.length - 1)) {
          this.day = 0;
        }
        this.playInt = setInterval(() => {
          if (this.day >= (this.days.length - 1)) {
            this.pause();
          } else {
            this.day += 1;
            // this.updateMap();
          }
        }, this.playingSpeed);
        this.playing = true;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import '@/styles/variables.scss';
.map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 400px;
  margin: 0;
  border-bottom: 1px solid;
}
.memory-marker{
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: transparentize($clr-orange, .50);
  background-size: cover;
  border: 1px solid $clr-orange;
  transition: box-shadow 200ms ease-in-out;
  &:hover{
    // background: $clr-gold;
    box-shadow: 0 0 0 8px transparentize($clr-orange, .65);
  }
}
.mapboxgl-popup {
  .popup-text {
    font-family: IBM Plex Sans, sans-serif;
    color: $clr-black;
    b {
      display: block;
      font-size: 1.5em;
    }
  }
  // .mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  //   border-bottom-color: $clr-black !important;
  // }
  // .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  //   border-top-color: $clr-black !important;
  // }
}
// #app .mapboxgl-popup-content {
//   background: $clr-black !important;
//   color: white !important;
// }
.time-controls {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 8em;
    max-width: 20em;
    // padding: 1em;
    // color: mintcream;
    // background-color: rgba(0,0,0,0.1);
    // border: 1px solid rgba(0,0,0,0.2);
    // transition: all 400ms;
    .label {
      font-weight: bold;
      font-size: 65%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #999;
    }
    .bigdata {
      font-size: 300%;
      line-height: 1;
    }
}
.dropin-enter-active, .dropin-leave-active {
  transition: all 1200ms ease-out;
}
.dropin-enter {
  opacity: 0;
  transform: scale(4);
}
.dropin-leave-to {
  transform: scale(0);
  transition: transition 200ms ease-in;
}
</style>
