<template>
  <div class="memory">
    <b-container class="mb-2">
    <h1>{{ memory.title }}</h1>
    <h2>
      <span v-if="memory.hasPlace()">
        {{ memory.place }},
      </span>
      <span v-if="memory.hasDate()">
        {{
          $d(memory.getDate(), 'short')
        }}
      </span>
      <span v-if="memory.hasCreator()">
        &mdash;
        <span v-html="$t('createdBy', {
          creator: memory.creator,
        })" />
      </span>
    </h2>
    <p class="contents text-center" v-if="memory.hasBasedNear()">
      <span v-html="memory.getFormattedBasedNear()"/>
    </p>
    </b-container>
    <!-- switch media type -->
    <b-pagination
      pills
      v-if="showArrows"
      class="d-flex justify-content-center"
      v-model="currentMediaIdx"
      :total-rows="memory.media.length"
      :per-page="1">
    </b-pagination>
    <div :class="{
      multiple: memory.media.length > 1,
      container: memory.media.length < 2,
    }">
      <div class="media-viewers w-100 h-100" :style="galleryStyle">
        <media-viewer :media="media" v-for="(media,i) in memory.media" :key="i" :style='{
          left: `${(100 * i)}%`,
        }'/>
      </div>
      <div v-if="showArrows" class="arrows">
        <div class="left" @click="viewPreviousMedia">
        </div>
        <div class="right" @click="viewNextMedia">
        </div>
      </div>
    </div>

    <!-- {{ firstMedia }} -->
    <!-- content -->
    <b-container>
      <blockquote class="contents mb-2" v-html="memoryHTML"></blockquote>
      <social-share
        class="mb-5"
        :title="memory.getExcerpt()" :description="$t('views.memory.share')" />
      <div class="mb-5 btn-group" role="group"
            aria-label="navigate through memories" v-if="previousMemory || nextMemory">
          <router-link
            class="btn btn-outline-dark"
            v-if="previousMemory"
            :to="{ name: 'Memory', params: { id: previousMemory.id } }">
            &larr;
            <memory-label class="d-inline" :memory="previousMemory" />
          </router-link>
          <router-link
            class="btn btn-outline-dark"
            v-if="nextMemory"
            :to="{ name: 'Memory', params: { id: nextMemory.id } }">
            <memory-label class="d-inline" :memory="nextMemory" />
            &rarr;
          </router-link>
      </div>
    </b-container>
  </div>
</template>

<script>
import MarkdownIt from 'markdown-it';
import Memory from '@/models/Memory';
import MemoryLabel from '@/components/MemoryLabel.vue';
import MediaViewer from '@/components/MediaViewer.vue';
import SocialShare from '@/components/SocialShare.vue';
import { items } from '@/services';

const md = new MarkdownIt({
  html: true,
  linkify: true,
  typographer: true,
});

export default {
  data: () => ({
    memory: new Memory(),
    previousMemory: null,
    nextMemory: null,
    currentMediaIdx: 1, // currentPage pagination
  }),
  computed: {
    showArrows() {
      if (this.memory.media.length < 2) {
        return false;
      }
      return !this.memory.media.some((d) => d.type === 'video');
    },
    firstMedia() {
      return this.memory.getFirstMedia();
    },
    backgroundImage() {
      return {
        backgroundImage: `url(${this.memory.getThumbnail('large')})`,
      };
    },
    memoryId() {
      return this.$route.params.id;
    },
    memoryHTML() {
      return md.render(this.memory.content);
    },
    galleryStyle() {
      return {
        transform: `translate(-${((this.currentMediaIdx - 1) * 100)}%,0)`,
      };
    },
  },
  methods: {
    viewPreviousMedia() {
      this.currentMediaIdx = this.currentMediaIdx - 1 < 1
        ? 1
        : this.currentMediaIdx - 1;
    },
    viewNextMedia() {
      this.currentMediaIdx = this.currentMediaIdx + 1 > this.memory.media.length
        ? this.memory.media.length
        : this.currentMediaIdx + 1;
    },
  },
  head: {
    // To use "this" in the component, it is necessary to return the object through a function
    title() {
      return {
        inner: this.memory.title,
      };
    },
    meta() {
      return [
        { p: 'og:title', content: this.memory.title },
        { p: 'og:image', content: this.memory.getThumbnail('medium') },
        { p: 'og:type', content: 'article' },
        { p: 'og:description', content: this.memory.content },
        { p: 'og:site_name', content: 'Covidmemory' },
        { n: 'twitter:card', content: 'summary_large_image' },
        { n: 'twitter:url', content: 'covidmemory.lu' },
        { n: 'twitter:title', content: `Memory: "${this.memory.title}" by ${this.memory.creator}` },
        { n: 'twitter:description', content: this.memory.content },
        { n: 'twitter:image', content: this.memory.getThumbnail('medium') },
        { n: 'twitter:site', content: 'Covidmemory' },
        { n: 'twitter:creator', content: this.memory.creator },
      ];
    },
  },
  watch: {
    memoryId: {
      handler(id) {
        this.currentMediaIdx = 1;
        // console.info('@watch "memoryId" id:', id);
        items.get(id).then((memory) => {
          // console.info('@watch "memoryId" id:', id, 'loaded! result:', memory);
          this.memory = memory;
          this.$emit('updateHead');
          // save memories
          items.find().then(({ data, total }) => {
            // get next and previous!
            const idx = data.findIndex((d) => d['o:id'] === this.memory.id);
            // console.info('@watch "memoryId" id:', id, 'has idx:', idx);
            if (idx > 0) {
              this.previousMemory = Memory.create(data[idx - 1]);
            } else {
              this.previousMemory = null;
            }
            if (idx < total - 1) {
              this.nextMemory = Memory.create(data[idx + 1]);
            } else {
              this.nextMemory = null;
            }
          });
        });
      },
      immediate: true,
    },
  },
  components: {
    MemoryLabel,
    MediaViewer,
    SocialShare,
  },
};
</script>

<style lang="scss">
@import "@/styles/variables.scss";

.memory{
  .contents{
    text-align: left;
  }

  .multiple{
    position:relative;
    min-height: 600px;
    margin-bottom: 2rem;
    background: $clr-black;
    overflow: hidden;
    .media-viewer, .media-viewers{
      position : absolute;
      left: 0;
      transition: transform 0.6s cubic-bezier(0.83, 0, 0.17, 1);
    }
    .arrows,
    .arrows > div {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .arrows > div {
      opacity: 0;
    }
    .arrows > div:hover{
      opacity: .2;
    }
    .arrows .left{
      right: 50%;
      // background-color: $clr-black;
    }
    .arrows .right{
      left: 50%;
      // background-color: $clr-black;
    }
  }

  .page-link{
    background: transparent;
    border-color: transparent;
    color: $clr-black;
  }
  .page-link:focus{
    box-shadow: 0 0 0 0.2rem rgba(254, 101, 77, 0.25);
  }
  .page-item.active .page-link{
    background-color: $clr-orange;
    border-color: $clr-orange;
    color: $clr-white;
  }
  .page-item.disabled .page-link{
    background: transparent;
    border-color: transparent;
  }
}

  @media (min-width: 996px) {
    .memory .contents {
      max-width: 600px;
      margin: 0 auto;
    }
    .memory .multiple{
      min-height: 700px;
    }
  }

</style>
