<template lang="html">
  <div class="memories container">
    <h1>{{ $t('views.memories.title') }}</h1>
    <h2 v-html="$tc('views.memories.total', totalMemories, {
      n: $n(totalMemories),
    })" />
    <div class="card-columns">
      <b-card no-body v-for="(item,i) in memories" :key="i"
        :class="{ 'no-media': !item.media.length }"
        @click="openMemory(item)">
        <b-card-img-lazy v-if="item.media.length" top
          :src="item.getThumbnail('large')"
          :alt="item.title" />
        <b-card-body>
          <h5 class="card-title">{{ item.title }}</h5>
          <b-card-text v-html="item.getExcerpt()" />
          <b-card-text>
            <small class="text-muted" v-if="item.hasPlace()">{{ item.place }}</small>
            <small class="text-muted" v-if="item.hasDate()">
              {{ $d(item.getDate(), 'short') }}
            </small>
          </b-card-text>
          <b-card-text v-if="item.hasBasedNear()">
            <small class="text-muted" v-html="item.getFormattedBasedNear()" />
          </b-card-text>
        </b-card-body>
      </b-card>
    </div>
  </div>
</template>

<script>
import { items } from '@/services';
import Memory from '@/models/Memory';

export default {
  data: () => ({
    totalMemories: 0,
    memories: [],
  }),
  methods: {
    openMemory(memory) {
      this.$router.push({
        name: 'Memory',
        params: {
          id: memory.id,
        },
      });
    },
  },
  mounted() {
    // initialise with empty memories.
    this.items = Array(Math.round(Math.random() * 50) + 1)
      .fill()
      .map(() => new Memory());
    items.find().then(({ data, total }) => {
      // console.info(data, total);
      this.totalMemories = total;
      this.memories = data.map((d) => Memory.create(d));
      // console.info(this.memories);
    });
  },
};
</script>
