<template>
  <page class="terms">
    <template v-slot:title>
      <span>Data Protection</span>
    </template>
    <template v-slot:subheading>
      <span>Introduction</span>
    </template>

    <div>
      <!-- <div v-if="$i18n.locale === 'fr'">
        (FR)
      </div>
      <div v-else-if="$i18n.locale === 'de'">
        (DE)
      </div>
      <div v-else> -->
      <div>
      <p>
        <span>In accordance with Articles</span>
        <span>12, 13 and 14</span>
        <span>
          of the EU Regulation
          2016/679 on the protection of natural persons with regard to the
          processing of
          personal data and on the free movement of such data (hereafter the “GDPR”),
          this Privacy Notice (hereafter “the Notice”) explains how the CD2H of the
          University
          of Luxembourg collects, processes and protects Personal Data in
          relation with the #covidmemory project. The #covidmemory project aims
          at collecting the memories
          of the Covid 19 epidemic through contributions of users of the website
          covidmemory.lu.
        </span>
      </p>

      <h3><span>1)&nbsp;&nbsp;&nbsp;who are we?</span></h3>

      <p> <span>The
      University of Luxembourg is a public higher education and research
      establishment, operating under the supervision of the Ministry for higher
      education.</span></p>

      <p> <span>&nbsp;</span></p>

      <p>
        <span>The University of Luxembourg has its official address at: </span>
      </p>

      <p><span>MAISON
      DU SAVOIR</span></p>

      <p><span>2,
      avenue de l’Université</span></p>

      <p><span>L- 4365 ESCH-BELVAL</span></p>

      <p><span>Phone number: Tel.: (+352) 46 66
      44 1</span></p>

      <p><span>Internet address: </span>
        <span><a href="https://wwwen.uni.lu/university">
          <span>https://wwwen.uni.lu/university</span></a>
        </span><span> </span></p>

      <p><span>The University has appointed a
      DPO: reachable during working hours. Further information is provided on
    </span><span><a href="https://wwwen.uni.lu/university/data_protection">
      <span>https://wwwen.uni.lu/university/data_protection</span></a></span>
      <span> and an email address is available:</span>
      <span><a href="mailto:dpo@uni.lu"><span>dpo@uni.lu
      </span></a>
    </span>
  </p>

      <p><span>&nbsp;</span></p>

      <h3><span>2)&nbsp;&nbsp;&nbsp;why
      do we process your personal data?</span></h3>

      <p><span>&nbsp;</span></p>

      <p><span>The CD2H runs the covidmemory.lu
      platform for the collection and processing of memories about the pandemic
      crisis as a research Centre for Contemporary and Digital History. The CD2H
      wants to offer the users of the platform a way to contribute their memories.
      These individual memories form part of the collective memory, i.e. part of
      national cultural heritage. The covidmemory.lu project is inspired by the
      &quot;Rapid Response Collecting&quot; approach that has been used in the public
      history and museum context for decades – primarily as a way to collect the
      stories, material culture, digital creations, and ephemera of historical
      events. The collected items offer historians and other researchers a unique way
      to study the COVID crisis in Luxembourg as these items reflect the practices
      and perceptions of “ordinary” people that are often not covered by traditional
      archival sources.</span></p>

      <p><span>Personal data is processed
      within the covidmemory project for two reasons: first of all, we collect and
      use the e-mail addresses of users to get in touch with them in case we have
      additional questions about their contributions. Furthermore, we collect
      contributions by our users through uploads that can take the form of text,
      images, videos or audio recordings that we make available online. </span></p>

      <p><span>&nbsp;</span></p>

      <p></p>

      <h3><span>3)&nbsp;&nbsp;&nbsp;which personal data
      do we collect and further process?</span></h3>

      <p><span>The personal data processed
      includes: </span></p>

      <p><span>- name, surname</span></p>

      <p><span>- e-mail adresses</span></p>

      <p><span>- photos</span></p>

      <p><span>- videos</span></p>

      <p><span>- text statements</span></p>

      <p><span>- audio recordings</span></p>

      <p><span>&nbsp;</span></p>

      <p><span>&nbsp;</span></p>

      <h3><a ><span>4)&nbsp;&nbsp;&nbsp;how
      did we collect personal data?</span></a></h3>

      <p><span>We
      collect the Personal Data as provided directly by the user through the platform.</span></p>

      <p></p>

      <h3>5)<span>&nbsp;&nbsp;&nbsp;on
      which legal basis do we process your personal data?</span></h3>

      <p><span>The legal basis for the
      processing of your personal data is article 6.1 a) </span><span>the data
      subject has given consent to the processing of his or her personal data for the
      processing of your personal data on the website</span></p>

      <p></p>

      <h3><span>6)&nbsp;&nbsp;&nbsp;who
      are the recipients of your personal data?</span></h3>

      <p><span>E-mail
      addresses and names will be only available to researchers of the University of
      Luxembourg. </span></p>

      <p><span>Texts,
      images, videos and audio recordings will be published to all visitors of the
      website covidmemory.lu. </span></p>

      <p><span>Contributors
      can decide if they want their real names published and choose a
      nickname/pseudonym.</span></p>

      <p><span>&nbsp;</span></p>

      <h3><span>7)&nbsp;&nbsp;&nbsp;do
      we transfer your personal data outside of european union?</span></h3>

      <p><span>Your
      Personal Data is processed within the European Union. </span></p>

      <p><span><span>&nbsp;</span></span></p>

      <h3><span>8)&nbsp;&nbsp;&nbsp;how
      long do we store your personal data?</span>
    </h3>

      <p><span>The
      Personal Data provided by you are kept for a duration of </span><span>10 years which are
      necessary to conduct the research project and longer in the context of
      potential archiving to preserve them for posterity, as the resulting collection
      will become an important resource for future research on the Covid 19 epidemic
      in Luxembourg.</span></p>

      <p></p>

      <h3><span>9)&nbsp;&nbsp;&nbsp;what
      are your rights with regard to the processing of your personal data?</span></h3>

      <p><span>According to the GDPR, you
      benefit notably from the following rights: right to be informed, right to
      access to your personal data, right to rectification, right to erasure, right
      to restrict the scope of the processing, right to object, right to data
      portability, right to lodge a complaint. The University provides further
      information on its website page: </span><span><a
      href="https://wwwen.uni.lu/university/data_protection/your_rights"><span>https://wwwen.uni.lu/university/data_protection/your_rights</span></a></span><span>. </span></p>

      <p></p>

      <p><span>In
      practice, you can exercise your rights by contacting our DPO:</span></p>

      <p><span>By
      sending a request per post to:</span></p>

      <p><b>Université du Luxembourg</b></p>

      <p><span>À
      l’attention de: DPO – Exercise of Data Subject rights</span></p>

      <p><span>Maison
      du Savoir</span></p>

      <p><span>2,
      Avenue de l’Université</span></p>

      <p><span>L-4365
      ESCH BELVAL</span></p>

      <p></p>

      <p></p>

      <p>
        By sending a request per email to the DPO, at
        <a href="mailto:dpo@uni.lu">
          <span>dpo@uni.lu</span>
        </a>
      </p>

      <p><span>&nbsp;</span></p>

      <p><span>Any request shall be processed
      by the University of Luxembourg without undue delay, and where feasible no
      later than one (1) month after its receipt, at least in order to inform you
      about the status of your request. This period may be extended for two (2)
      additional months for complex cases or due to a high volume of requests.</span></p>

      <p><span>&nbsp;</span></p>

      <h3><span>10)&nbsp;&nbsp;&nbsp;how can you lodge a
      complaint?</span></h3>

      <p><span>If you consider that the
      Processing of Personal Data relating to you infringes the GDPR, you will have
      the right – without prejudice to any other administrative or judicial remedy –
      to lodge a complaint with a supervisory authority, in particular in the Member
      State of your habitual residence, place of work or place of the alleged
      infringement.</span></p>

      <p><span lang=FR-LU
      >In Luxembourg, the competent
      authority is the Commission Nationale pour la Protection des Données (CNPD).</span></p>

      <p></p>

      <p>Contact
      of the <b>CNPD:</b></p>

      <p><span>Commission
      Nationale pour la Protection des Données</span></p>

      <p><span>1,
      avenue du Rock’n’Roll</span></p>

      <p><span>Service
      des réclamations</span></p>

      <p><span>L-4361
      Esch-sur-Alzette</span></p>

      <p><span>Tel.&nbsp;:
      (+352) 26 10 60 -1</span></p>

      <p><span>Fax&nbsp;:
      (+352) 26 10 60 -29</span></p>

      <p></p>

      <p><span>You
      can also use their contact form, at: </span><span><a
      href="https://cnpd.public.lu/fr/support/contact.html"><span>https://cnpd.public.lu/fr/support/contact.html</span></a></span></p>

      <p></p>

      <h3><span>11)&nbsp;&nbsp;&nbsp;applicable law –
      jurisdiction</span></h3>

      <p><span>The present Notice shall be
      governed and construed in accordance with the Luxembourgish law. </span></p>

      <p><span>Any dispute concerning the
      existence, interpretation or performance of this Notice which cannot be settle
      amicably, shall fall within the jurisdiction of the Courts of Luxembourg City,
      without prejudice to the rights of the Data Subjects to bring the matters
      before the court where he or she has her place of residence as well as its
      right to lodge a complaint with the supervisory authority.</span></p>
      </div>
    </div>
  </page>
</template>


<script>
import Page from '@/components/views/Page.vue';

export default {
  components: {
    Page,
  },
};
</script>
<style lang="css" scoped>
h3{
  margin-top: 2rem;
  font-weight: bold;
  text-transform: capitalize;
}
</style>
