<template>
  <div class="memory-label">
    <em>{{ excerpt }}</em>
    <span v-if="withCreator && memory.hasCreator()">
      &nbsp;<span v-html="$t('createdBy', {
        creator: memory.creator,
      })" />
    </span>
  </div>
</template>

<script>
export default {
  props: {
    memory: Object,
    withCreator: Boolean,
  },
  computed: {
    excerpt() {
      return this.memory.getExcerpt({
        maxLength: 50,
        text: this.memory.title,
      });
    },
  },
};
</script>

<style lang="css" scoped>
</style>
