<template>
  <social-sharing :url="url"
                  :title="title"
                  :description="description"
                  :quote="quote"
                  :hashtags="hashtags"
                  inline-template>
    <div>
      <p v-if="showDescription">{{$t('actions.share')}}</p>
      <div class="btn-group" role="group"
        aria-label="navigate through memories">
        <network network="email" Facebook class="network btn btn-outline-dark">
          <b-icon-envelope style="line-height: 1.25rem;" title="email" />
         </network>
        <network network="facebook" class="network btn btn-outline-dark">
          <img style="height: 1.25rem;" title="Facebook" src="../assets/f_logo_RGB-Blue_58.png" />
        </network>
        <network network="twitter" class="network btn btn-outline-dark">
          <img style="height: 2rem;" title="twitter" src="../assets/Twitter_Logo_Blue.svg" />
        </network>
      </div>
    </div>
  </social-sharing>
</template>

<script>
export default {
  props: {
    title: String,
    description: String,
    quote: String,
    tags: Array,
    showDescription: Boolean,
  },
  computed: {
    url() {
      return window.location.href;
    },
    hashtags() {
      return (this.tags || []).join(',');
    },
  },
};
</script>

<style lang="scss">
  .network{
    height: 3rem;
    padding: .5rem 1rem 1rem;
  }
</style>
