<template >
  <div class="tooltip position-absolute" :style="tooltipStyle" :class="{ visible }">
    <div class="d-flex justify-content-center">
      <div class="tooltip-inner">
        <div class="thumbnail" v-if="item.thumbnail && item.thumbnail !== ''">
          <img :src="item.thumbnail" :alt="item.title">
        </div>
        <b>{{ item.title }}</b><br/> {{ formattedItemDate }}</div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
    },
    visible: {
      type: Boolean,
    },
    coords: {
      type: Object,
    },
  },
  computed: {
    tooltipStyle() {
      const { x = 0, y = 0 } = this.coords;
      return {
        transform: `translate(${x}px,${y}px)`,
      };
    },
    formattedItemDate() {
      if (this.item) {
        return this.item.getFormattedDate();
      }
      return '';
    },
  },
  mounted() {

  },
};
</script>

<style lang="scss" scoped>
.tooltip{
  top: 10px;
  left: 0;
  color: white;
  opacity: 0;
  width: 300px;
  margin-left: -150px;
  pointer-events: none;
  transition: opacity .1s ease-in-out;
  .thumbnail img {
    max-width:95%;
    max-height:95%;
  }
}
.visible{
  opacity: 1;
}
.tooltip-inner{
  max-width: 200px;
  background: black;
}
</style>
