<template>
  <div id="app" :class="appClass">
    <div class="content">
      <div id="nav">
        <navbar :form-url="formUrl" :langs="langs" :lang="$i18n.locale" />
      </div>
      <transition name="fade" mode="out-in">
        <router-view />
      </transition>
    </div>
    <footer class="footer">
      <b-container class="my-5">
        <div class="d-flex ">
          <div class="flex-grow-1 text-left">
            <a
              href="https://c2dh.uni.lu"
              title="C2DH | Luxembourg Centre for Contemporary and Digital History"
              target="_blank"
            >
              <img src="./assets/uni-c2dh-black.svg" alt="C2DH" style="height:100px" />
              <p class="mb-0 mt-3">
                C2DH | Luxembourg Centre for Contemporary and Digital History
              </p>
            </a>
          </div>

          <div class="text-left">
            <p class="font-weight-bold" v-html="$t('usefulLinks')" />
            <router-link :to="{ name: 'Terms' }">{{ $t('to.terms') }}</router-link>
            <br />
            <router-link :to="{ name: 'Privacy' }">{{ $t('to.privacy') }}</router-link>
            <br />
            <router-link :to="{ name: 'About' }">{{ $t('to.about') }}</router-link>
          </div>
        </div>
        <b-row class="mt-4 pt-4 text-center" style="border-top: 1px solid #a0a0a0">
          <b-col>Copyright © Université du Luxembourg 2020. All rights reserved</b-col>
        </b-row>
      </b-container>
    </footer>
    <cookie-disclaimer />
  </div>
</template>

<script>
import CookieDisclaimer from '@/components/CookieDisclaimer.vue';
import Navbar from '@/components/Navbar.vue';

export default {
  props: {
    langs: {
      type: Array,
      default: () => ['en', 'fr', 'de', 'lb'],
    },
  },
  components: {
    Navbar,
    CookieDisclaimer,
  },
  computed: {
    formUrl() {
      return `${process.env.VUE_APP_FORM_URL}?lang=${this.$i18n.locale}`;
    },
    appClass() {
      return `view-${this.$route.name}`;
    },
  },
};
</script>
<style lang="scss">
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');
@import '@/styles/variables.scss';

html {
  height: 100%;
}
body {
  min-height: 100%;
  padding-top: 5rem;
  font-family: 'IBM Plex Sans', sans-serif;
  background: #f0f0f0;
}
a {
  color: $clr-orange;
  text-decoration: none;
  &:hover {
    color: $clr-orange;
  }
}
.footer a {
  color: $clr-black;
  text-decoration: underline;
}
.contents {
  font-size: 1.25rem;
}

.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $clr-black;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .fade-enter-active,
  .fade-leave-active {
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease;
  }

  .fade-enter,
  .fade-leave-active {
    opacity: 0;
  }
}

h1 {
  font-size: 1.8rem;
  font-weight: bold;
}

h3 {
  font-size: 1.3rem;
  line-height: 2rem;
}
h4 {
  font-size: inherit;
  font-weight: bold;
  margin-top: 1.3rem;
}
.contents {
  font-size: 1rem;
}
@media (min-width: 768px) {
  #nav {
    padding: 30px;
  }
  body {
    padding-top: 0;
  }
  h1 {
    font-size: 3.5rem;
    font-weight: bold;
  }
  .contents {
    font-size: 1.25rem;
  }
  h4 {
    margin-top: 2.5rem;
  }
}

.navbar {
  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #fe654f;
    }
  }
  .dropdown-item.active,
  .dropdown-item:active {
    color: #007bff;
  }
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: transparent;
  color: #007bff;
}
/* Make the element pulse (grow large and small slowly) */
/* Usage
    .myElement {
        animation: pulsate 1s ease-out;
        animation-iteration-count: infinite;
        opacity: 1;
    }
*/
@keyframes pulsate {
  0% {
    -webkit-transform: scale(1.1, 1.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2.2, 2.2);
    opacity: 0;
  }
}

.card-columns {
  column-count: 1;
}
@media (min-width: 768px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 996px) {
  .card-columns {
    column-count: 3;
  }
}
</style>
